# Icon
cbatticon &

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"

# Network
nm-apple &

# Disks
udiskie -t &

# Volume icon
volumeicon &

# Compositor
picom -b &

# Multimonitor support
xrandr --output eDP-1 --primary --mode 1366x768 --pos 1920x312 --rotate normal --output DP-1 --off --output HDMI-1 --off --output HDMI-2 --mode 1920x1080 --pos 0x0 --rotate normal --output DP-2 --off --output HDMI-3 --off
